#header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5em;
}


#headerName {
    font-family: var(--font-press-start);
    font-size: 1em;
    display: flex;
    align-items: center;
}


#headerLogo {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
}

.headerLeft {
    display: flex;
    justify-content: space-between;
    margin-left: .4em;
}

.headerRight {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileMenuIcon {
    display: none;
}

.headerNav {
    font-family: var(--font-press-start);
    font-weight: 500;
    font-size: .7em;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.myLink {
    display: inline-block;
    text-decoration: none;
}

.myLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(251,211,20);
    transition: width .3s;
}

.myLink:hover::after{
    width: 100%;
}


.profileContainer {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: .5em;
}

.profileContainer .discordButton {
    margin:  0 auto;
}

.profileContainer span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.profileContainer img {
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

.profile {
    width: 20%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-evenly;
}

.discordButton {
    background-color: #242323;
    border:none;
    color: white;
    padding: 8px;
    font-family: var(--font-press-start);
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    width: 50%;
    outline: none;
    box-shadow: 0 4px #999;
}

.discordButton:active {
    background-color: #eb1c2c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.discordButtonLogo {
    display: none;
}

.socialButton {
    background-color: #242323;
    border: none;
    border-radius: 5px;
    color: white;
    width: 44%;
    padding: 8px;
    font-size: 12px;
}

.signOut {
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 3px 10px;
    background-color: #242323;
    opacity: .4;
    color: whitesmoke;
    font-family: var(--font-montserrat);
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 500;
}


.signOut:hover {
    cursor: pointer;
    transition: .4s;
    opacity: 1;
}


@media only screen and (max-width: 600px) {
    #header {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 1em 0 .5em 0;
        border-bottom: 1px solid rgba(0, 0, 0, .5);
    }
    #headerName {
        width: 100%;
        font-size: .7em;
        padding-top: 0.8em;
        display: block;
    }
    #headerLogo {
        display: none;
    }
    .headerLeft {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .headerRight {
        display: flex;
        justify-content: right;
        width: 30%;
    }
    .headerNav {
        display: none;
    }
    
    .mobileMenuIcon {
        display: block;
    }
    
    .menu {
        position: absolute;
        right: 0;
        z-index: 1;
        width: 40%;
        height: 100%;
        background-color: whitesmoke;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        color: black;
    }

    .menuHeader {
        display: flex;
        width: 100%;
        background-color: red;

    }

    .menu p {
        position: relative;
    }

    

    .profileContainer {
        display: none;
    }

    /* .headerRight nav {
        width: 20%;
        height: 1.1rem;
        margin-bottom: .8em;
        position: absolute;
        top: 0;
        z-index: -1;
    }



    .burgerBar {
        height: .1rem;
        width: 2rem;
        background-color: rgba(0, 0, 0 , .4);
        border-radius: 0.4em;
    }

    .menu {
        width: 50%;
        height: 15em;
        position: absolute;
    }

    .profileContainer {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
    }
    
    .profileContainer img {
        border: none;
    } */
}
