#header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 150px;
}

#headerName {
    font-family: var(--font-press-start);
    font-size: 21px;
    margin-bottom: 10px;
}


#headerLogo {
    display: flex;
    align-items: center;
    width: 8%;
    justify-content: center;
}

.headerLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerRight {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNav {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 16px;
    width: 40%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.myLink {
    display: inline-block;
    text-decoration: none;
}

.myLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(251,211,20);
    transition: width .3s;
}

.myLink:hover::after{
    width: 100%;
}


.profileContainer {
    display: flex;
    align-items: center;
    width: 30%;
    margin-bottom: 18px;
}

.profileContainer span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.profileContainer img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.discordButton {
    background-color: #242323;
    border:none;
    color: white;
    padding: 8px;
    font-family: var(--font-press-start);
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    width: 60%;
    margin-bottom: 24px;
    outline: none;
    box-shadow: 0 4px #999;
}

.discordButton:active {
    background-color: #eb1c2c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.socialButton {
    background-color: #242323;
    border: none;
    border-radius: 5px;
    color: white;
    width: 44%;
    padding: 8px;
    font-size: 12px;
}

