#mainWrapper {
    height: 100%;
    background-color: #F5F5F5;
    position: absolute;
    font-family: var(--font-press-start);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 100%;
    z-index: 1;
}

#hidden {
    display: none;
}

#mainWrapper h1 {
    color: rgb(251,211,20);
    margin-bottom: 50px;
}

#mainWrapper p {
    cursor: pointer;
    color:rgb(212,66,15)
}


@media only screen and (max-width: 600px) {
   #mainWrapper {
    font-size: .7em;
    width: 100%;
    height: 100%;
   }

   #mainWrapper p {
     font-size: 1.5em;
   }
}