
#wrapper {
    width: 100%;
    height: 100vh;
    background-color: #272a33;
}


#overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadDialog {
    height: 350px;
    width: 950px;
    display: flex;
}

.uploadArea {
    position: relative;
    height: 100%;
    width: 50%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.imageAreaContainer {
    width: 100%;
    height: 100%;
}

.uploadActionContainer {
    width: 50%;
    height: 100%;
    background-color: #3c424b;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadActionHeader {
    width: 80%;
    margin: 0 auto;
    font-family: var(--font-press-start);
    font-size: 14px;
    padding-bottom: 20px;
    color: #fff;;
}


.actionButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.uploadButton {
    background-color: #242323;
    border:none;
    color: white;
    padding: 8px;
    font-family: var(--font-press-start);
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    width: 22%;
    margin-bottom: 24px;
    outline: none;
    box-shadow: 0 4px #999;
}


.stateDropdown {
    background-color: #3c424b;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    background-color: #fff;
    color: black;
    width: 25%;
    font-size: 14px;
} 


.stateDropdown select {
    background-color: red;
}

/* .uploadContainer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.uploadFormContainer {
    margin-top: 50px;
    width: 38%;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}

.uploadFormHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
    text-align: left;
    padding: 40px 0 45px 40px;
    font-size: 18px;
}

.uploadFileContainer {
    width: 66%;
    height: 325px;
    margin: 0 auto;
    padding: 50px;
    border: 2px dashed rgba(153, 153, 153 , .15);
    color: black;
    text-align: center;
    display: grid;
    align-items: center;
}

.uploadFileImage {
    margin-top: auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filePropertiesContainer {
    display: flex;
    margin: 0 auto;
    width: 66%;
}

.stateDropdown {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    background-color: #fff;
    color: black;
    width: 25%;
    margin-left: 80px;
    font-size: 14px;
    padding: 10px 0 7px 2px
} 


.submitContainer {
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.rightSideSubmitContent {
    display: flex;
    justify-content: center;
    width: 50%;
}

.socialButton {
    background-color: #242323;
    border: none;
    border-radius: 5px;
    color: white;
    width: 33%;
    padding: 8px;
    font-size: 12px;
}

.cancelButton {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    color: #000;
    width: 33%;
    padding: 8px;
    font-size: 12px;
    margin-right: 20px;
}  */
