#uploadContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 2.1em auto 0 auto;
}

.uploadPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 500px;
    border: 2px dashed rgba(0, 0, 0, 0.4);
}

.styleInfo {
    width: 50%;
    display: flex;
}

.selectButton {
    background-color: #242323;
    border:none;
    color: white;
    padding: 10px;
    font-family: var(--font-press-start);
    font-size: .8em;
    font-weight: 300;
    border-radius: 3px;
    width: 18em;
    outline: none;
    box-shadow: 0 4px #999;
    text-align: center;
}

.selectButton:active {
    background-color: #eb1c2c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.actionButtonContainer {
    padding: 2em 0 4em 0 ;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.stateDropdown {
    background-color: #000;
    color: white;
    font-family: var(--font-press-start);
    font-size: .8em;
    border-radius: 3px;
    border:none;
    border-radius: 3px;
    box-shadow: 0 2px #999;
    padding: 8px;
    width: 18em;
}

.stateDropdown option {
    color: #fff;
    text-align: center;
}

.stateDropdown:focus {
    outline: 0;
}

.uploadButton {
    background-color: #242323;
    border:none;
    color: white;
    padding: 8px;
    font-family: var(--font-press-start);
    font-size: .9em;
    font-weight: 300;
    border-radius: 3px;
    width: 18em;;
    outline: none;
    box-shadow: 0 4px #999;
}


.uploadButton:active {
    background-color: #eb1c2c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#uploadContainer span {
    padding-top: 1em;
    font-family: var(--font-montserrat);
    font-size: .7em;
    position: relative;
    width: 70%;
    line-height: 1.5em;
    letter-spacing: .1em;;
}

.error {
    font-weight: bold;
    color: red;
}

.success {
    font-weight: bold;
    color: green;
}

.info {
    margin: 0 auto;
    width: 50%;
    justify-content: space-between;
    display: flex;
    font-size: 1.3em;
}

.info span:first-child {
    font-weight: bold;
}

.info span:last-child {
    text-align: right;
}


@media only screen and (max-width: 600px) {
    #uploadContainer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5em;
    }

    .uploadPreview {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 70%;
        height: 250px;
        border: 2px dashed rgba(0, 0, 0, 0.2);
    }

    .actionButtonContainer {
        padding: 2em 0 4em 0 ;
        width:100%;
        display: flex;
        justify-content: space-around;
    }
    

    .uploadButton {
        background-color: #242323;
        border:none;
        color: white;
        padding: 8px;
        font-family: var(--font-press-start);
        font-size: .8em;
        font-weight: 300;
        border-radius: 3px;
        width: 18em;;
        outline: none;
        box-shadow: 0 4px #999;
    }



    .selectButton {
        background-color: #242323;
        border:none;
        color: white;
        padding: 3px;
        font-family: var(--font-press-start);
        font-size: .5em;
        font-weight: 300;
        border-radius: 3px;
        width: 18em;
        outline: none;
        box-shadow: 0 4px #999;
        text-align: center;
    }

    .stateDropdown {
        background-color: #000;
        color: white;
        font-family: var(--font-press-start);
        font-size: .5em;
        border-radius: 3px;
        border:none;
        border-radius: 3px;
        box-shadow: 0 2px #999;
        padding-right: .1em;
        width: 18em;
    }
     
    .info {
        width: 70%;
        display: flex;
        justify-content: space-around;
        font-size: 1em;
    }

    .info span:first {
        font-style: italic;
        text-align: left;
        text-decoration: underline;
    }
    .info span:last-child {
        text-align: right;
    }
}
