#wrapper{
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#headerName {
    font-family: var(--font-press-start);
    color: black;
    font-size: 21px;
    letter-spacing: 1.5px;
    padding:  0 0 15px 25px;
}


.titleContainer{
    width: 50%;
    margin: 0 auto;
}


.titleContainer h1 {
    font-size: 30px;
    font-family: var(--font-press-start);
    letter-spacing: 1.2px;
    text-align: center;
    padding: 40px 0 0 0;
}


.infoSection {
    width: 48%;
    margin: 0 auto;
    text-align: left;
}

.infoSection p {
    padding-top: 20px;
    font-size: 16px;
    font-family: var(--font-montserrat);
    text-align: left;
    line-height: 25px;
}

.infoSection p:first-child {
    letter-spacing: 1px;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.infoSection p:last-of-type {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 20px;
}

.infoSection li {
    padding: 15px
}

.photoExamplesContainer {
    font-family: var(--font-montserrat);
    padding-top: 50px;
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    line-height: 25px;
}

.exampleRowOne {
    display: flex;
    justify-content: space-between;
}

.exampleRowOne {
    margin-bottom: 30px;
}